@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE5E5;  
}

h1{
  font-size: 3vh;
}

.container{
  top: 50%; 
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  border: 10px solid black;
  background-color: black;
  border-radius: 5px;
  
}

.keypad{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px , auto);

}
input[type="text"]{
  height: 70px;
  width: 247px;
  background-color: #000;
  border: 0px;
  color: #fff;
  text-align: right;
  font-size:30px;
  font-weight: 900;
  letter-spacing: 1px;
  
}
#clear{
  grid-column: 1/3;
  grid-row: 1;
  color: rgb(27, 25, 25);
  font-weight: 1000;
  color: red;
}

#result{
  grid-column: 3/5;
  grid-row: 5;
  color: #000;
}

/* #backspsace{

} */

button{
  cursor: pointer;
  margin: 4px;
  border: none;
  border-radius: 5px;
  /* if u want to add bg color then add in button */
}

button.active , button.focus{
  outline: none;
}

input.focus, input.active{
  outline: none;

}

.highlight{ 
  background-color: cyan;

}

